@import "reset.css";
@mixin full($w,$h,$bg){
    width: $w;
    height: $h;
    background: $bg;
}
@mixin box($ver:horizontal){
    display: -webkit-box;
    -webkit-box-orient: $ver;
}
html{
    font-size: 62.5%;
}
@mixin font($font1,$font2,$font3,$font4){
    .#{$font1}-24{font-size: $font2;}
    .#{$font1}-16{font-size: $font3;}
    .#{$font1}-20{font-size: $font4;}
}
@include font(spc,24px,16px,20px);
html,body,.yjp_shr{
    @include box(vertical);
    @include full(100%,100%,#f2f2f2);
}
.yjp_shr header{
    position: relative;
    @include full(100%,4.5rem,#f7f7f7);
    border-bottom: 1px solid #cccccc;
    h1{
        @include full(100%,100%,#f7f7f7);
        text-align: center;
        line-height: 4.5rem;
        font-size: 16px;
    }
    .header_left{
        position: absolute;
        top: 1.5rem;
        left: 1.1rem;
        @include full(1rem,auto,none);
        img{
            @include full(100%,auto,none);
        }
    }
}
.yjp_shr section{
    -webkit-box-flex: 1;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    background: #f7f7f7;
    &>.section_no1{
        border-bottom: 1px solid #ccc;
        padding-left: 1.1rem;
        @include full(100%,7.5rem,#fff);
        ul{
            @include full(100%,100%,#fff);
            @include box(vertical);
            li{
                -webkit-box-flex: 1;
                line-height: 3rem;
                &:nth-child(3){
                    span{
                        color:#ff7f1c;
                    }
                }
            }
        }
    }
    &>.section_no2{
        @include full(100%,11.3rem,#fff);
        margin-top: 0.5rem;
        ul{
            @include full(100%,11.3rem,#fff);
            @include box(vertical);
            li{
                -webkit-box-flex: 1;
                padding-top: 1rem;
                padding-left: 1.1rem;
                padding-right: 1.1rem;
                @include box(horizontal);
                border-bottom:1px solid #ccc;
                &:nth-child(3){
                    border: none;
                }
                &:nth-child(1){
                    padding-top: 0.2rem; 
                }
                span{
//                  position: absolute;
                    display: inline-block;
                    @include full(2.5rem,auto,#fff);
                    img{
                        @include full(2.5rem,auto,#fff);
                    }
                }
                dl{
                    -webkit-box-flex: 1;
                    @include box(horizontal);

                    img{
                        @include full(2.5rem,auto,#fff);
                    }
                    dd{
                        font-size: 14px;
                        padding-left: 0.9rem;
                    }
                }
            }
        }
    }
    &>.section_no3{
        @include full(100%,3rem,none);
        margin-top: 2rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        button{
            @include full(100%,3rem,#ff7f1c);
            color: #fff;
            font-size: 18px;
            border-radius:0.6rem;
            border: none;
            outline: none;
        }
    }  
}
