@import url(reset.css);
.full(@w, @h, @b) {
    width: @w;
    height: @h;
    background: @b;
}
.box(@ver:vertical) {
    display: -webkit-box;
    -webkit-box-orient: @ver;
}
html,
body,
.warp {
    .full(100%,100%,#f2f2f2);
    font-size: 62.5%;
}
.warp{
    .box;
     header {
         .full(100%,4.4rem,#f7f7f7);
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        font-size: 1.4rem;
        border-bottom: 1px solid #ccc;
        a {
            display: inline-block;
            .full(1rem,auto,none);
            margin-left: 0.5rem;
            img {
                .full(1rem,auto,none);
            }
        }
        p {
            -webkit-box-flex: 1;
            font-size: 1.4rem;
            text-align: center;
        }
        .h-span-right {
            display: inline-block;
            .full(2.4rem,auto,none);
            margin-right: 0.5rem;
            img {
                .full(1.8rem,auto,none);
            }
        }
    }
    section{
        -webkit-box-flex: 1;
        .s-one{
            .full(100%,auto,none);
            .myP2{
                .full(100%,auto,none);
                padding: 0.9rem 0;
                padding-left: 0.5rem;
                box-sizing: border-box;
            }
            .myP1{
                img{
                    .full(100%,auto,none);
                }
            }
        }
    }
}
.shadow{
    .full(100%,100%,black); 
    opacity: 0.3;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.popBox{
    .full(96%,auto,none);
    position: fixed;
    left: 2%;
    bottom: 0;
    display: none;
    font-size: 1.4rem;
    p{
        .full(100%,auto,white);
        padding: 1.3rem 0 ;
        text-align: center;
        border-radius: 8px;
    }
    .last{
        margin-top: 1rem;
    }
}
