@import url(reset.css);
html {
  font-size: 62.5%; }

.spc-24 {
  font-size: 24px; }

.spc-12 {
  font-size: 12px;
  color: #b9b9b9; }

.spc-11 {
  font-size: 20px;
  color: #76bff2; }

html, body, .warp {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.warp header {
  width: 100%;
  height: 36px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal; }
  .warp header .header_left {
    width: 29px;
    height: 36px;
    background: none;
    line-height: 36px;
    text-align: center; }
  .warp header .header_center {
    -webkit-box-flex: 1;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }
  .warp header .header_right {
    width: 34px;
    height: 36px;
    background: none;
    line-height: 36px;
    text-align: center; }
.warp section {
  -webkit-box-flex: 1;
  background: #f2f2f2; }
  .warp section .main {
    width: 100%;
    height: 100px;
    background: #ffffff;
    margin-top: 4px;
    padding-top: 7px; }
    .warp section .main p {
      -webkit-transform: scale(0.9);
      font-weight: bold; }
      .warp section .main p span {
        color: #feb584; }
  .warp section .main2 {
    width: 100%;
    height: 245px;
    background: #ffffff;
    margin-top: 5px; }
    .warp section .main2 .main2_top {
      width: 100%;
      height: 25px;
      background: #ffffff;
      border-bottom: 1px solid #fafafa;
      padding-left: 16px;
      box-sizing: border-box;
      line-height: 25px;
      font-size: 14px;
      font-weight: bold; }
    .warp section .main2 .main2_center {
      width: 100%;
      height: 85px;
      background: #ffffff;
      border-bottom: 1px solid #fafafa;
      padding-left: 16px;
      box-sizing: border-box; }
      .warp section .main2 .main2_center dl {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        position: relative; }
        .warp section .main2 .main2_center dl dt {
          width: 63px;
          height: 63px;
          background: none;
          padding-top: 7px; }
        .warp section .main2 .main2_center dl dd {
          -webkit-transform: scale(0.9);
          -webkit-box-flex: 1; }
          .warp section .main2 .main2_center dl dd p {
            font-weight: bold; }
          .warp section .main2 .main2_center dl dd b {
            color: #ccc;
            -webkit-transform: scale(0.5); }
          .warp section .main2 .main2_center dl dd ul {
            position: absolute;
            right: -10px;
            top: 30px; }
    .warp section .main2 .main2_bottom {
      width: 100%;
      height: 50px;
      background: none; }
      .warp section .main2 .main2_bottom .main2_bottom_top {
        width: 100%;
        height: 24px;
        background: none;
        text-align: right;
        border-bottom: 1px solid #fafafa; }
      .warp section .main2 .main2_bottom .main2_bottom_bottom {
        width: 100%;
        height: 24px;
        background: none;
        line-height: 24px;
        text-align: right; }
        .warp section .main2 .main2_bottom .main2_bottom_bottom span {
          border: 1px solid #febf93;
          border-radius: 5px;
          padding: 0 4px;
          color: #ff8430;
          font-weight: bold; }

/*# sourceMappingURL=shop%20details.css.map */
