@import url(reset.css);
html {
  font-size: 62.5%; }

.spc-24 {
  font-size: 24px; }

.spc-12 {
  font-size: 12px;
  color: #b9b9b9; }

.spc-11 {
  font-size: 20px;
  color: #76bff2; }

html, body, .warp {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.warp {
  overflow: hidden; }
  .warp header {
    width: 100%;
    height: 40px;
    background: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    border: 1px solid #ececec; }
    .warp header .header_left {
      width: 29px;
      height: 40px;
      background: none;
      line-height: 40px;
      text-align: center; }
    .warp header .header_right {
      width: 28px;
      height: 40px;
      background: none;
      line-height: 40px;
      text-align: center; }
    .warp header .header_center {
      -webkit-box-flex: 1;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .warp header .header_center .header_center_center {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        margin: 0 auto;
        border: 1px solid #fd9647;
        margin-top: 8px;
        margin-bottom: 7px;
        border-radius: 5px;
        text-align: center; }
        .warp header .header_center .header_center_center .header_center_center_left {
          width: 68px;
          height: 23px;
          background: #ff7f1c;
          border-right: 1px solid #fd9647;
          font-size: 14px;
          font-weight: bold;
          color: white;
          line-height: 23px; }
        .warp header .header_center .header_center_center .header_center_center_right {
          width: 66px;
          height: 23px;
          background: none;
          font-size: 14px;
          font-weight: bold;
          color: #ff8328;
          line-height: 23px; }
  .warp .warpper {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
  .warp .nav {
    width: 100%;
    height: 44px;
    background: white;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    border-bottom: 1px solid #ececec; }
    .warp .nav .nav_left {
      -webkit-box-flex: 1;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .warp .nav .nav_left dl {
        -webkit-box-flex: 1;
        text-align: center;
        padding-top: 4px;
        box-sizing: border-box; }
        .warp .nav .nav_left dl:nth-child(1) {
          border-bottom: 2px solid #ecc2a2; }
    .warp .nav .nav_right {
      width: 38px;
      height: 44px;
      background: white;
      line-height: 44px;
      text-align: center; }
  .warp section {
    -webkit-box-flex: 1;
    background: #f3f3f3;
    overflow: auto; }
    .warp section::-webkit-scrollbar {
      width: 0; }
    .warp section .main {
      width: 100%;
      height: 100px;
      background: white;
      margin-top: 3px; }
      .warp section .main .main_top {
        width: 100%;
        height: 26px;
        background: white;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        line-height: 26px;
        border-bottom: 1px solid #fafafa; }
        .warp section .main .main_top .main_top_left {
          -webkit-box-flex: 1;
          padding-left: 10px;
          box-sizing: border-box; }
        .warp section .main .main_top .main_top_right {
          width: 53px;
          height: 26px;
          background: white; }
      .warp section .main .main_bottom {
        width: 100%;
        height: 72px;
        background: white;
        line-height: 17px;
        padding-top: 5px;
        padding-left: 10px;
        box-sizing: border-box; }
        .warp section .main .main_bottom p {
          color: #7c7c7c; }
    .warp section .main1 {
      width: 100%;
      height: 68px;
      background: white;
      margin-top: 3px;
      border-top: 4px solid #f3f3f3; }
      .warp section .main1 .main_top {
        width: 100%;
        height: 26px;
        background: white;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        line-height: 26px;
        border-bottom: 1px solid #fafafa; }
        .warp section .main1 .main_top .main_top_left {
          -webkit-box-flex: 1;
          padding-left: 10px;
          box-sizing: border-box; }
        .warp section .main1 .main_top .main_top_right {
          width: 53px;
          height: 26px;
          background: white; }
      .warp section .main1 .main_bottom {
        width: 100%;
        height: 42px;
        background: white;
        line-height: 17px;
        padding-top: 8px;
        padding-left: 10px;
        box-sizing: border-box; }
        .warp section .main1 .main_bottom p {
          color: #7c7c7c; }
  .warp footer {
    width: 100%;
    height: 42px;
    background: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden; }
    .warp footer img {
      padding-top: 3px;
      box-sizing: border-box; }
    .warp footer dl {
      -webkit-box-flex: 1;
      text-align: center;
      padding-top: 2px;
      box-sizing: border-box; }
      .warp footer dl dd {
        color: #b2b2b2;
        margin-bottom: 4px; }

/*# sourceMappingURL=shop%20dingdan.css.map */
