@import "reset.css";
@mixin full($w,$h,$bg){
    width: $w;
    height: $h;
    background: $bg;
}
@mixin box($ver:horizontal){
    display: -webkit-box;
    -webkit-box-orient: $ver;
}
html{
    font-size: 62.5%;
}
@mixin font($font1,$font2,$font3,$font4){
    .#{$font1}-24{font-size: $font2;}
    .#{$font1}-16{font-size: $font3;}
    .#{$font1}-20{font-size: $font4;}
}
@include font(spc,24px,16px,20px);
html,body,.yjp_shr{
    @include box(vertical);
    @include full(100%,100%,#f2f2f2);
}
.yjp_shr header{
    @include full(100%,4.5rem,#f7f7f7);
    border-bottom: 1px solid #cccccc;
    @include box(horizontal);
    h1{
        -webkit-box-flex: 1;
        text-align: center;
        line-height: 4.5rem;
        font-size: 16px;
    }
    .header_left{
        padding-top: 1.6rem;
        padding-left: 1.1rem;
        img{
            @include full(1rem,auto,none);
        }
    }
    .header_right{
        padding-top: 1.6rem;
        padding-right: 1.1rem;
        img{
            @include full(1.8rem,auto,none);
        }
    }
    
}
.yjp_shr section{
    -webkit-box-flex: 1;
    -webkit-box-flex: 1;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    background: #f7f7f7;
    .section_no1{
        border-bottom: 1px solid #ccc;
        padding-left: 1.1rem;
        @include full(100%,auto,#fff);
        @include box(horizontal);
        input{
           -webkit-box-flex: 1;
           display: block;
           outline: none;
           border: none;
           padding-left: 0.4rem;
           line-height: 4rem;
        }
        &>div{
            @include full(5.5rem,4.1rem,#fff);
            font-size: 14px;
            line-height: 4rem;
        }
    }
    .section_no3{
        @include full(100%,3rem,none);
        padding-top:1rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        button{
            @include full(100%,3rem,#ff7f1c);
            color: #fff;
            font-size: 16px;
            border-radius:0.6rem;
            border: none;
            outline: none;
        }
    }  
}
